@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Chelsea+Market&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#game-screen {
  height: 100vh;
  width: 99vw;
  background-image: url("../images/hogwarts-backdrop.jpg");
  justify-content: center;
  overflow-x: hidden;
}

.title {
  font-family: "Chelsea Market", cursive;
  margin-top: 20px;
  text-align: center;
  font-size: 75px;
}

.message {
  font-family: "Caudex", serif;
  margin: 20px 30px;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.info {
  font-family: "Caudex", serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

#clicks, #countdown {
  font-family: "Chelsea Market", cursive;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

#board {
  height: 70%;
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.start-btn {
  margin: 10px auto;
  height: 50px;
  width: 180px;
  border-radius: 15px;
  border: none;
  border-color: none;
  font-family: "Caudex", serif;
  font-size: 30px;
}

/*card*/

.card.none {
  display: none;
}

.card {
  height: 170px;
  width: 120px;
  margin: 20px 32px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
  border: none;
  background-color: transparent;
}

.bcard,
.fcard {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.fcard {
  transform: rotateY(180deg);
}

.bcard {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  border: 3px solid #9c1203;
  background: url("../images/crest.jpg") center;
  background-size: 50%;
  backface-visibility: hidden;
  border-radius: 12px;
}

.harry {
  background: url("../images/harry.jpg") center no-repeat;
  background-size: 50%;
}

.hermione {
  background: url("../images/hermione.jpg") center no-repeat;
  background-size: 50%;
}

.hagrid {
  background: url("../images/hagrid.jpg") center no-repeat;
  background-size: 70%;
}

.gryf {
  background: url("../images/gryf.png") center no-repeat;
  background-size: 95%;
}

.slyth {
  background: url("../images/slyth.png") center no-repeat;
  background-size: 130%;
}

.huff {
  background: url("../images/huff.png") center no-repeat;
  background-size: 96%;
}

.station {
  background: url("../images/station.jpg") center no-repeat;
  background-size: 95%;
}

.rave {
  background: url("../images/rave.png") center no-repeat;
  background-size: 100%;
}

.card.rotate {
  transition: transform 1s;
  transform: rotateY(180deg);
}

/*win*/

.winner.none {
  display: none;
}

.winner {
  font-family: "Caudex", serif;
  font-size: 90px;
  text-align: center;
}

/*lose*/

.lose.none {
  display: none;
}

.lose {
  font-family: "Caudex", serif;
  font-size: 90px;
  text-align: center;
}

/*images*/

.bcard.gryf {
  background: url("../images/gryf.png") center no-repeat;
  background-size: 100%;
  background-color: white;
}
.bcard.slyth {
  background: url("../images/slyth.png") center no-repeat;
  background-size: 100%;
  background-color: white;
}
.bcard.huff {
  background: url("../images/huff.png");
  background-size: 100%;
  background-color: white;
}
.bcard.rave {
  background: url("../images/rave.png") center no-repeat;
  background-size: 100%;
  background-color: white;
}

/*win lose animation*/

.flyingHarry {
  position: absolute;
  background-image: url("../images/harryfly.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  height: 300px;
  -webkit-animation: moving 10s linear infinite;
  -moz-animation: moving 10s linear infinite;
  -o-animation: moving 10s linear infinite;
}

.dementor {
  position: absolute;
  background-image: url("../images/Creature_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  height: 300px;
  -webkit-animation: moving 10s linear infinite;
  -moz-animation: moving 10s linear infinite;
  -o-animation: moving 10s linear infinite;
}

@keyframes moving {
  0% {
    margin-left: 100%;
    top: 400px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 400px;
  }
  100% {
    margin-left: -100%;
    top: 400px;
  }
}

@-webkit-keyframes moving {
  0% {
    margin-left: 100%;
    top: 400px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 400px;
  }
  100% {
    margin-left: -100%;
    top: 400px;
  }
}

@-moz-keyframes moving {
  0% {
    margin-left: 100%;
    top: 400px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 400px;
  }
  100% {
    margin-left: -100%;
    top: 400px;
  }
}

/*colours*/

#countdown {
  color: #e3a000;
}

#clicks {
  color: #e3a000;
}

.fcard {
  background-color: #fff;
}

#start-easy {
  background-color: #9c1203;
  color: #e3a000;
}
#start-medium {
  background-color: #2d004d;
  color: #e3a000;
}
#start-hard {
  background-color: #033807;
  color: #e3a000;
}
#start-extrahard {
  background-color: #00165e;
  color: #e3a000;
}

/*#reset {
    background-color: #e3a000;
    color: #00165e;
}*/

.title {
  color: #e3a000;
}

.message {
  color: #e3a000;
}

.info {
  color: #e3a000;
}

.winner {
  color: #e3a000;
}

.lose {
  color: #9c1203;
}

/*@media screen and (min-width: 579px) {
    
.card {
    height: 100px;
    width: 66px;
}

.start-btn {
    margin: 10px 10px;
    height: 40px;
    width: 150px;
}

#start-easy {
    font-size: 20px;
}

#start-medium {
    font-size: 20px;
}

#start-hard {
    font-size: 20px;
}

#start-extrahard {
    font-size: 20px;
}*/

@media only screen and (max-width: 741px) {
  .card {
    height: 125px;
    width: 85px;
  }

  .start-btn {
    margin: 10px 10px;
    height: 40px;
    width: 140px;
  }

  #start-easy {
    font-size: 20px;
  }

  #start-medium {
    font-size: 20px;
  }

  #start-hard {
    font-size: 20px;
  }

  #start-extrahard {
    font-size: 20px;
  }

  .title {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
  }

  .message {
    margin: 15px 20px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }

  .info {
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin: 0 10px 10px;
  }

  #countdown {
    text-align: center;
    font-size: 25px;
    padding: 10px;
  }

  #clicks {
    text-align: center;
    font-size: 25px;
    padding: 10px;
  }

  #board {
    width: 90%;
    margin: 20px auto;
  }

  .winner {
    font-size: 30px;
    margin: 5px;
    font-weight: 500;
  }

  .lose {
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
  }
}