@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Chelsea+Market&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#game-screen {
  height: 100vh;
  width: 99vw;
  background-image: url("../images/hogwarts-backdrop.jpg");
  justify-content: center;
  overflow-x: hidden;
}

.title {
  font-family: "Chelsea Market", cursive;
  margin-top: 2rem;
  text-align: center;
  font-size: 7.5rem;
}

.message {
  font-family: "Caudex", serif;
  margin: 2rem 3rem 1rem;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 2rem 0.5rem;

}

.info {
  font-family: "Caudex", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#clicks,
#countdown {
  font-family: "Chelsea Market", cursive;
  text-align: center;
  font-size: 4rem;
  padding: 0.6rem;
}

#board {
  height: 80rem;
  width: 80rem;
  margin: 1.2rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.start-btn {
  margin: 1rem auto;
  height: 5rem;
  width: 18rem;
  border-radius: 1.5rem;
  border: none;
  border-color: none;
  font-family: "Chelsea Market", cursive;
  font-size: 3rem;
}

/*card*/

.card.none {
  display: none;
}

.card {
  height: 16.8rem;
  width: 12rem;
  margin: 1rem 3.2rem;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  border: none;
  background-color: transparent;
}

.bcard,
.fcard {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.fcard {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.bcard {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  border: 0.3rem solid #9c1203;
  background: url("../images/crest.jpg") center;
  background-size: 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 1.2rem;
}

.harry {
  background: url("../images/harry.jpg") center no-repeat;
  background-size: 50%;
}

.hermione {
  background: url("../images/hermione.jpg") center no-repeat;
  background-size: 50%;
}

.hagrid {
  background: url("../images/hagrid.jpg") center no-repeat;
  background-size: 70%;
}

.gryf {
  background: url("../images/gryf.png") center no-repeat;
  background-size: 95%;
}

.slyth {
  background: url("../images/slyth.png") center no-repeat;
  background-size: 130%;
}

.huff {
  background: url("../images/huff.png") center no-repeat;
  background-size: 96%;
}

.station {
  background: url("../images/station.jpg") center no-repeat;
  background-size: 95%;
}

.rave {
  background: url("../images/rave.png") center no-repeat;
  background-size: 100%;
}

.card.rotate {
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/*win*/

.winner.none {
  display: none;
}

.winner {
  font-family: "Caudex", serif;
  font-size: 9rem;
  text-align: center;
}

/*lose*/

.lose.none {
  display: none;
}

.lose {
  font-family: "Caudex", serif;
  font-size: 9rem;
  text-align: center;
}

/*win lose animation*/

.flyingHarry {
  position: absolute;
  background-image: url("../images/harryfly.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20rem;
  height: 30rem;
  -webkit-animation: moving 10s linear infinite;
  -moz-animation: moving 10s linear infinite;
  -o-animation: moving 10s linear infinite;
}

.dementor {
  position: absolute;
  background-image: url("../images/Creature_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20rem;
  height: 30rem;
  -webkit-animation: moving 10s linear infinite;
  -moz-animation: moving 10s linear infinite;
  -o-animation: moving 10s linear infinite;
}

@keyframes moving {
  0% {
    margin-left: 100%;
    top: 40rem;
  }

  29% {
    margin-left: 50%;
    top: 5rem;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  60% {
    margin-left: 0%;
    top: 40rem;
  }

  100% {
    margin-left: -100%;
    top: 40rem;
  }
}

@-webkit-keyframes moving {
  0% {
    margin-left: 100%;
    top: 40rem;
  }

  29% {
    margin-left: 50%;
    top: 5rem;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  60% {
    margin-left: 0%;
    top: 40rem;
  }

  100% {
    margin-left: -100%;
    top: 40rem;
  }
}

 

@-moz-keyframes moving {
  0% {
    margin-left: 100%;
    top: 40rem;
  }

  29% {
    margin-left: 50%;
    top: 5rem;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  60% {
    margin-left: 0%;
    top: 40rem;
  }

  100% {
    margin-left: -100%;
    top: 40rem;
  }
}

/*colours*/

#clicks,
#countdown {
  color: #e3a000;
}

.fcard {
  background-color: #fff;
}

#start-easy {
  background-color: #9c1203;
  color: #e3a000;
}

#start-medium {
  background-color: #2d004d;
  color: #e3a000;
}

#start-hard {
  background-color: #033807;
  color: #e3a000;
}

#start-extrahard {
  background-color: #00165e;
  color: #e3a000;
}

.text-colour {
  color: #e3a000;
}

.lose {
  color: #9c1203;
}

@media only screen and (max-width: 741px) {

  .card {
    height: 8rem;
    width: 5.5rem;
    margin: 1rem 1rem;
  }

  .buttons {
    justify-content: space-around;
  }

  .start-btn {
    margin: 1rem 1rem;
    height: 4rem;
    width: 10rem;
  }

  #start-easy,
  #start-medium,
  #start-hard,
  #start-extrahard {
    font-size: 1.5rem;
  }

  .title {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 5rem;
  }

  .message {
    margin: 1.5rem 2rem;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }

  .info {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0 1.5rem 1rem;
  }

  #countdown {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
  }

  #clicks {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
  }

  #board {
    width: 32rem;
    height: 30rem;
    margin: 2rem auto;
  }
 
  .winner {
    font-size: 3rem;
    margin: 0.5rem;
    font-weight: 500;
  }

  .lose {
    font-size: 3rem;
    font-weight: 500;
    margin: 0.5rem;
  }
}

 

 

 

